### Q1
List the basic data types in python and give one example each.

In [ ]:
int = 50
float = 17.5 
strings = "Selasi is going to school"
boolean = True

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [3]:
x= 4539.85
y= str(x)
z= int(x)
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>

### Q3

What data type would you use to store

a. The price of car?

b. The age of a person

c. car plate number: plateNumber = "AV01-AFP"?

d. The price of fuel

e. The number of students in the class

f. The weight of a person

g. Check whether two figures are equal

i. The name of a  school

j. The average result of the overall score of a student

k. The total number of vote cast


ANSWERS
a. float 
b. integer
c. string
d. float
e. integer 
f. string 
g. string 
i. string 
j. float/integer 
k. integer

### Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

- **What is the length of statment 1?**
-**What is the length of statment 2?**
-**Is the length of statement 1 greater than statement 2**

In [5]:
statement_1 ="Thomas Partey is arguably the best player in the Black Stars"
statement_2 = "He is a great addition to the team"

x= len(statement_1)
y= len(statement_2)
z= x>y
print (x)
print(y)
print(z)

60
34
True

### Q5
What values does python use to represent **True** and **False** respectively?



ANSWER: 1 and O

### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [14]:
print((78>46)<30)

word_1="boostrap"
word_2= "sample"
d= len(word_1)
e= len(word_2)
print(d)
print(e)

True
8
6

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

In [6]:
print("How")
print("How are you")
print("are")
print("?")
print("Hello,How are you")

How
How are you
are
?
Hello,How are you

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

In [1]:
sentence = "I am very excited"

# Convert sentence to upper case
upper_case = sentence.upper()
print("Upper case:", upper_case)

# Convert sentence to lower case
lower_case = sentence.lower()
print("Lower case:", lower_case)

# Convert sentence to title case
title_case = sentence.title()
print("Title case:", title_case)

# Convert sentence to list of strings
word_list = sentence.split()
print("List of words:", word_list)

Upper case: I AM VERY EXCITED
Lower case: i am very excited
Title case: I Am Very Excited
List of words: ['I', 'am', 'very', 'excited']

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

In [6]:
word = 'OneThirtyEight'
one = word[:3]
thirty = word[3:9]
eight = word[9:]
one_thirty = word[:9]
thirty_eight = word[3:]
one_thirty_eight = word.upper()
#printing out variables 
print (one )
print (thirty)
print(eight)
print(one_thirty)
print(thirty_eight)
print(one_thirty_eight)

One
Thirty
Eight
OneThirty
ThirtyEight
ONETHIRTYEIGHT

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

In [7]:
name = "Ault'Kelly"
name

"Ault'Kelly"