# Q1

In [6]:
#Name the four built-in data structures in python. Give one examples for each

#1.list 
xlist=['eggs','milk','cheese','butter']
print(xlist)

#2.tuple
ytupe = (3,4,5,6,7)
print(ytupe)

#3.sets 
zset={10,20,30,40}
print(zset)

#4.dictionaries
udict= {'Kofi':17, 'Complexion': 'Fair', "Height": 1.7 }
print(udict)

['eggs', 'milk', 'cheese', 'butter']
(3, 4, 5, 6, 7)
{40, 10, 20, 30}
{'Kofi': 17, 'Complexion': 'Fair', 'Height': 1.7}

# Q2

#State two differences between a list and a tuple in Python.

1. Lists are mutable and tuples are immutable.

2. Lists are unordered and tuples are ordered.

# Q3

In [31]:
animal_list = ["monkey","ant","bee","moth"]

#Print the first two animals
print(animal_list[0:2])

#Print the first two animals
print(animal_list[2:4])

#Add three extra animals to the variable animal_list
animal_list.extend(["lion","penguin","antelope"]) 
print(animal_list)

#Remove the first two animals from the variable animal_list
#animal_list.remove(["monkey","ant"])

#How many animals are in the animal_list?
count= len(animal_list)
print(count)

#Create a variable animal_set which stores the set of animal_list
animal_set ={'monkey', 'ant', 'bee', 'moth', 'lion', 'penguin', 'antelope'}
print(animal_set)

#How many elements are in the animal_set
setcount= len(animal_set)
print(setcount)

['monkey', 'ant']
['bee', 'moth']
['monkey', 'ant', 'bee', 'moth', 'lion', 'penguin', 'antelope']
7
{'moth', 'lion', 'ant', 'antelope', 'monkey', 'bee', 'penguin'}
7

# Q4

In [34]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

#Create a list called first containing only the two first items from suitcase
first = (suitcase[0:2])
print(first)

#Create a list called middle containing only the two middle items from suitcase.
middle = (suitcase[2:4])
print(middle)

#Create a list called last made up only of the last two items from suitcase.
last=(suitcase[4:6])
print(last)

['sunglasses', 'hat']
['passport', 'laptop']
['suit', 'shoes']

# Q5

In [43]:
#Write a python code to insert 35 into the list beloW. 
#Make sure it is inserted in the right position to maintain the order of the data.


values = [20,25,30,40,45,50,55,60,65,70]
values.insert(3,35)
print(values)

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

# Q6

In [ ]:
#Given that Python lists and Python tuples are quite similar â€“ 
#when might you prefer to use a tuple over a list?

When you do not want the values to change, or if it is a constant value.

# Q7

In [49]:
region_capital = {"Volta Region":"Ho", "Upper West Region": "Wa",
                  "Greater Accra ": "Accra", "Ashanti Region":"Kumasi","Eastern Region": "Koforidua"}
print(region_capital)

#Print out the keys of region_capital
key_s= region_capital.keys()
print(key_s)

#Print out the values of region_capital
value_s= region_capital.values()
print(value_s)

{'Volta Region': 'Ho', 'Upper West Region': 'Wa', 'Greater Accra ': 'Accra', 'Ashanti Region': 'Kumasi', 'Eastern Region': 'Koforidua'}
dict_keys(['Volta Region', 'Upper West Region', 'Greater Accra ', 'Ashanti Region', 'Eastern Region'])
dict_values(['Ho', 'Wa', 'Accra', 'Kumasi', 'Koforidua'])

  # Q8

In [51]:
values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]
#Total number of elements in values
total = sum(values)
print(total)

59